# ==========================================
# Logs y Debugging
# ==========================================
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# ==========================================
# Dependencias y Builds (Vite, Vue 3 & NestJS)
# ==========================================
node_modules/
dist/
dist-ssr/
build/
*.tsbuildinfo

# ==========================================
# Archivos de Entorno y Secretos
# ==========================================
.env
.env.local
.env.*.local
!.env.example

# ==========================================
# Archivos Temporales y Testing
# ==========================================
.nx/cache
.tmp
.temp
coverage/
.nyc_output/
*.lcov

# ==========================================
# Configuración de IDEs y Sistemas Operativos
# ==========================================
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store
Thumbs.db
