/* banner */
/* tablet */
@media (min-width: 768px) {
	.contendor__banner {
		display: grid;
		grid-template-columns: 1fr 1fr;
		align-items: center;
		justify-items: center;
	}
	.contenedor__redes__sociales {
		column-gap: 10rem;
	}
}

/* portatil */

@media (min-width: 1024px) {
	.circular__image img {
		max-width: 70rem;
	}
	.title__banner h1 {
		font-size: 4.3rem;
		text-transform: uppercase;
	}

	.title__banner h2 {
		font-size: 6.5rem;
		text-transform: uppercase;
	}
	.title__banner p {
		font-size: 2rem;
	}
}

/* portatiles */
@media (min-width: 1200px) {
	.sl__text {
		font-size: 3.5rem;
	}

	/* ------------------------------------------------------------------------- experiencia ------------------------------------------------------------------------- */
	.contenedor__informacion {
		flex: 2;
	}

	.contenedor__experiencia {
		flex: 1;
	}
}
