/* ------------------------------------------------------------------------- variables universales ------------------------------------------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;700&family=Noto+Serif+Vithkuqi:wght@400;600;700&display=swap');

:root {
	--scColorPricipal: #1d1e42;
	--scColorSecudario: #313256;
	--scColorTerciario: #4a587a;
	--scColorBlanco: #fff;
	--scColorTexto: #e5e5e5;
	--scColorPinck: #ad1ddf;
	--scColorgris: #56748a;
	--scColorNegro: #000;
	--fuentePrincipal: 'Inter', sans-serif;
	--coloGradianteP: linear-gradient(90deg, #44206d 0%, #384764 100%);
}
*,
*::after,
*::before {
	margin: 0;
	box-sizing: inherit;
	padding: 0;
}

html {
	box-sizing: border-box;
	font-size: 62.5%;
}

body {
	font-family: 'Inter', sans-serif !important;
	color: var(--scColorBlanco);
	background-color: var(--scColorPricipal);
	font-size: 16px;
	line-height: 1.5;
}

body::-webkit-scrollbar {
	width: 7px;
	background-color: transparent;
}

body::-webkit-scrollbar-thumb {
	background-color: var(--scColorPinck);
	border-radius: 10px;
}
/* ------------------------------------------------------------------------- utilidades ------------------------------------------------------------------------- */
.content_lang > .active {
	background-color: #3f3d56;
}

.btn {
	padding: 1rem;
	background: var(--scColorBlanco);
	text-align: center;
	border-radius: 5rem;
	color: var(--scColorNegro);
	margin: 0.5rem;
	cursor: pointer;
}

.cabecera-header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 3;
	animation: ease 2s backwards;
}

/* ------------------------------------------------------------------------- diseño ------------------------------------------------------------------------- */
.btn_menu {
	color: var(--scColorBlanco);
	padding: 0.5rem;
	border-radius: 0.4rem;
	background-color: var(--scColorPinck);
	width: 4.6rem;
	height: 4.6rem;
}

.ico__contenedor__mo {
	column-gap: 2rem;
}

.menu__mini {
	padding-top: 2rem;
	padding-bottom: 4rem;
	background-color: var(--scColorPricipal);
}

/* ------------------------------------------------------------------------- menu cover ------------------------------------------------------------------------- */
.menu__cover__mini {
	display: none;
	padding: 2rem;
	top: 0;
	z-index: 4;
	position: fixed;
	height: 100vh;
	width: 100%;
	background: linear-gradient(180deg, #44206d 0%, #384764 100%);
}

.link__contenedor ul li {
	text-transform: uppercase;
	padding-bottom: 3rem;
	font-size: 2.5rem;
	font-weight: bold;
}

.link__contenedor {
	margin-bottom: 8rem;
}

.btn__close {
	margin-bottom: 10rem;
}

.lang__cotenedor {
	height: 5rem;
	width: 5rem;
	padding: 1rem;
	background-color: var(--scColorBlanco);
	border-radius: 5rem;
	overflow: hidden;
}

.content_lang {
	column-gap: 2rem;
}

/* ------------------------------------------------------------------------- bannner ------------------------------------------------------------------------- */
.contendor__banner {
	width: 90%;
}
.title__banner h1 {
	font-size: 3.3rem;
	text-transform: uppercase;
}

.title__banner h2 {
	font-size: 5.5rem;
	text-transform: uppercase;
}
.title__banner p {
	font-size: 1.5rem;
}

.sl__text {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 3rem;
}

.contenedor__info {
	margin-top: 4rem;
	margin-bottom: 4rem;
}

.circular__image {
	background-color: #adaecf2c;
	border-radius: 100%;
}
.circular__image img {
	object-fit: contain;
	object-position: center;
	aspect-ratio: 1 / 1;
}

.contenedor__redes__sociales {
	column-gap: 5rem;
}

.contenedor__redes__sociales .redes {
	width: 5rem;
	height: 5rem;
	margin-bottom: 4rem;
}

.btn__sobre_mi {
	margin-bottom: 4rem;
}

.btn__me {
	background: linear-gradient(90deg, var(--scColorgris) 0%, var(--scColorPinck) 100%);
	width: 70%;
	padding: 2rem;
	font-weight: bold;
	font-size: 2.5rem;
	text-transform: capitalize;
	color: var(--scColorBlanco);
}

/* ------------------------------------------------------------------------- menu grande ------------------------------------------------------------------------- */
.menu__grande {
	background-color: var(--scColorPricipal);
	padding-bottom: 1rem;
}

.link__contenedor__pc {
	text-transform: uppercase;
	font-size: 1.5rem;
	background: linear-gradient(90deg, var(--scColorgris) 0%, var(--scColorPinck) 100%);
	border-radius: 50rem;
	padding: 2rem;
}

/* ------------------------------------------------------------------------- seccion sobre mi ------------------------------------------------------------------------- */
.contenedor__experiencia__hero {
	min-height: 45rem;
}

.contenedor__sobremi {
	width: 90%;
}

.descargar__cv {
	display: inline-block;
	padding: 1rem;
	width: 50%;
	text-align: center;
	font-size: 2.5rem;
	font-weight: bold;
	border-radius: 5rem;
	background: var(--coloGradianteP);
}

.contenedor__img__soremi {
	min-width: 30rem;
	max-width: 100%;
}

.contenedor__img__soremi img {
	width: 100%;
}

.contenedor__sobremi {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
	gap: 3rem;
	justify-content: center;
}

/* ------------------------------------------------------------------------- experiencia ------------------------------------------------------------------------- */
.contenedor__expriencia {
	position: relative;
	height: 100%;
}
.bubble__experiencia {
	background-color: var(--scColorgris);
	width: 9rem;
	height: 9rem;
	padding: 1rem;
	border-radius: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: absolute;
}

.bubble__experiencia img {
	width: 100%;
	height: 100%;
	object-fit: contain;
	object-position: center center;
}

.contenedor__expriencia .bubble__experiencia:nth-child(1) {
	z-index: 99;
	transform: rotate(12deg);
	text-align: center;
	font-size: 2rem;
	left: 3rem;
}
.contenedor__expriencia .bubble__experiencia:nth-child(2) {
	/* transform: rotate(30deg); */
	left: 23rem;
}

.contenedor__expriencia .bubble__experiencia:nth-child(3) {
	top: 13rem;
	left: 3rem;
}

.contenedor__expriencia .bubble__experiencia:nth-child(4) {
	left: 20rem;
	top: 13rem;
}

.contenedor__expriencia .bubble__experiencia:nth-child(5) {
	top: 23rem;
	left: 12rem;
}

.contenedor__expriencia .bubble__experiencia:nth-child(6) {
	top: 30rem;
	left: 2rem;
}
